#cookies-bar.fixed {
    position: fixed;
    bottom: 5;
    left: 0;
    z-index: 100;

}

#cookies-bar {
    line-height: 24px;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    color: white;
    background-color: #444;
    display:none;
}

.cb-enable {
    border-radius: 10%;
    margin-left: 100px;
    color: white;
    padding: 5px;
    border-radius: 10%;
    font-family: serif;
    text-decoration: none;
    transition: .3s background-color;
 }

.cb-enable:hover {
    background-color: darkcyan;
}

.cb-policy {
    color: white;
    text-decoration: underline;
}

.cb-policy:hover {
    color: darkcyan;
}

.main_image_box img {
  width: 400px;
  height: 400px;
  position: center;
  padding: 20px;
  border-radius: 20px:
}

.main_image_box {
  display: space-around ;
  background-color: #52ACFF;
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
}

.main_image_box p {
  padding-bottom: 20px;
  padding-left: 300px;
  color: white;
  font-family: arial;
  font-size: 50px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
